<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link href="/main.css" rel="stylesheet">
</head>
<body>
    <div th:replace="~{ nav.html::navbar }"></div>
    <div class="card" th:each="item : ${items}" th:data-item-id="${item.getId()}">
        <img src="https://placehold.co/300">
        <div>
            <a th:href="@{'/detail/'+${item.getId()}}">
                <h4 th:text="${item.getTitle()}">바지</h4>
            </a>
            <p th:text="${item.getPrice()}">8억</p>
            <a th:href="@{'/edit/'+${item.getId()}}">수정</a>
            <span th:onclick="fetch('/item?id=[[${item.getId()}]]',{method : 'DELETE'})
                .then(r=>r.text())
                .then(() =>{
                    location.reload();
                })
            ">삭제</span>
            <button type="button">fddf</button>
        </div>
    </div>


</body>
</html>

